<a href="https://colab.research.google.com/github/YeonKang/Python-for-Machine-Learning/blob/main/Lec1_1_Pythonic_Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**basic code**

In [1]:
alphabet = ["a","b","c","d","e"]
result = ""

for s in alphabet:
    result += s
print(result)

abcde

**pythonic code**

In [3]:
alphabet = ["a","b","c","d","e"]
result = "".join(alphabet)
print(result)

abcde

**split string**

In [18]:
items = 'zero one two three'.split()
print(items)

['zero', 'one', 'two', 'three']

In [19]:
example = 'python,c++,java'
print(example.split(","))

['python', 'c++', 'java']

**split string and unpacking**

In [5]:
example = 'python, c++, java'
a,b,c = example.split(",")
print(a,b,c)

python  c++  java

**for loop + append**

In [6]:
result = []

for i in range(10):
    result.append(i)
print(result)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

**list Complrehension**

In [21]:
result = [i for i in range(10)]
print(result)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
result = [i for i in range(10) if i % 2 == 0]
print(result)

[0, 2, 4, 6, 8]

**Nested For loop**

In [8]:
word_1 = "Hello"
word_2 = "World"
result = [i+j for i in word_1 for j in word_2]
print(result)

['HW', 'Ho', 'Hr', 'Hl', 'Hd', 'eW', 'eo', 'er', 'el', 'ed', 'lW', 'lo', 'lr', 'll', 'ld', 'lW', 'lo', 'lr', 'll', 'ld', 'oW', 'oo', 'or', 'ol', 'od']

**Nested For loop + if**

In [22]:
case_1 = ["A","B","C"]
case_2 = ["D","E","A"]

result = [i+j for i in case_1 for j in case_2]
print(result)

['AD', 'AE', 'AA', 'BD', 'BE', 'BA', 'CD', 'CE', 'CA']

In [23]:
result = [i+j for i in case_1 for j in case_2 if not(i==j)]
result.sort()
print(result)

['AD', 'AE', 'BA', 'BD', 'BE', 'CA', 'CD', 'CE']

**split + list Comprehension**

In [24]:
words = 'The quick brown fox jumps over the lazy dog'.split()
print(words)

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [25]:
stuff = [[w.upper(),w.lower(),len(w)] for w in words]

for i in stuff:
    print(i)

['THE', 'the', 3]
['QUICK', 'quick', 5]
['BROWN', 'brown', 5]
['FOX', 'fox', 3]
['JUMPS', 'jumps', 5]
['OVER', 'over', 4]
['THE', 'the', 3]
['LAZY', 'lazy', 4]
['DOG', 'dog', 3]

**for loop + zip**

In [11]:
alist = ['a1','a2','a3']
blist = ['b1','b2','b3']

for a,b in zip(alist,blist):
    print(a,b)

a1 b1
a2 b2
a3 b3

**list comprehension + zip**

In [26]:
a,b,c = zip((1,2,3),(10,20,30),(100,200,300))
print(a,b,c)

(1, 10, 100) (2, 20, 200) (3, 30, 300)

In [27]:
print([sum(x) for x in zip((1,2,3),(10,20,30),(100,200,300))])

[111, 222, 333]

**enumerate + zip**

In [13]:
alist = ['a1','a2','a3']
blist = ['b1','b2','b3']

for i,(a,b) in enumerate(zip(alist,blist)):
    print(i,a,b)

0 a1 b1
1 a2 b2
2 a3 b3

**lambda function**

In [30]:
def f(x,y):
    return x+y
print (f(1,4))

5

In [31]:
f = lambda x,y:x+y
print(f(1,4))

5

In [29]:
f = lambda x:x/2
print(f(3))

1.5

In [28]:
f = lambda x:x**2
print(f(3))
print((lambda x:x+1)(5))

9
6

**map with lambda**

In [36]:
ex = [1,2,3,4,5]
print(list(map(lambda x: x+x, ex)))

[2, 4, 6, 8, 10]

In [35]:
print((map(lambda x: x+x, ex)))

<map object at 0x7fba04af2e48>

In [33]:
f = lambda x: x ** 2
print(map(f, ex))

<map object at 0x7fba04b06ef0>

In [34]:
for i in map(f, ex):
    print(i)

1
4
9
16
25

**reduce with lambda**

In [37]:
from functools import reduce
print(reduce(lambda x, y: x+y, [1, 2, 3, 4, 5]))

15

In [38]:
def factorial(n):
    return reduce(
            lambda x, y: x*y, range(1, n+1))
print(factorial(5))

120

**Asterika(*)**

In [44]:
def asterisk_test1(a,*args):
    print(a,args)
    print(type(args))

asterisk_test1(1,2,3,4,5,6)

1 (2, 3, 4, 5, 6)
<class 'tuple'>

In [45]:
def asterisk_test2(a,**kargs):
    print(a,kargs)
    print(type(kargs))

asterisk_test2(1,b=2,c=3,d=4,e=5,f=6)

1 {'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}
<class 'dict'>

In [43]:
def asterisk_test3(a,*args):
    print(a,args[0])
    print(type(args))

asterisk_test3(1,(2,3,4,5,6))

1 (2, 3, 4, 5, 6)
<class 'tuple'>

In [42]:
def asterisk_test4(a,args):
    print(a,*args)
    print(type(args))

asterisk_test4(1,(2,3,4,5,6))

1 2 3 4 5 6
<class 'tuple'>

In [41]:
a, b, c = ([1,2],[3,4],[5,6])
print(a,b,c)

[1, 2] [3, 4] [5, 6]

In [40]:
data = ([1,2],[3,4],[5,6])
print(*data)

[1, 2] [3, 4] [5, 6]

In [39]:
for data in zip(*([1,2],[3,4],[5,6])):
    print(sum(data))

9
12